.row{
    font-size: 3.8em;
    line-height: 2.0;
    background: yellowgreen;
    .col-md-push-8{
        color:black;
    }
    .col-md-pull-4{
        color:white;
        font-weight: 800;
    }
}

.nav-menu{
    float: right;
      .panel{
          a{
            font-size: 3em;
            color:rgba(0,0,0,.3);
            line-height: 2.0;
          }
            display: none;
            width: 200px;
            } 
}